body{
    background-color: #f5f5f5;
}
.country,
.selectcon {
    margin: 15px;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.selectcon {
    padding: 5px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    background-color: black;
    color: aliceblue;
    padding: 10px;
}

.cate {
    cursor: pointer;
}

.cate:hover {
    background-color: aqua;
    color: black;
    padding: 5px;
}

.cate.active {
    background-color: aqua;
    color: black;
    border-radius: 5px;
    padding: 5px;
}

img {
    height: 200px;
    width: 100%;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.box {
    width: 300px;
    height: 300px;
    margin: 10px;
}


h1 {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
}

h2 {
    margin-left: 25px;
}


@media screen and (max-width: 768px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* Center nav items */
        justify-content: space-between;
    }


    .country,
    .selectcon {
        margin: 10px;
        /* Adjust margin for smaller screens */
        font-size: 1rem;
        /* Decrease font size for smaller screens */
    }

    h1 {
        font-size: 1.5rem;
        /* Decrease font size for smaller screens */
        margin: 20px;
    }

    .cont {
        display: flex;
        /* Center news items */
        flex-wrap: wrap;
        height: 100px;
        
    }

    .box {
        width: 130px;
        height: auto;
        border: 2px solid;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 10px;
    }

    h4 {
        padding: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    img {
        height: 120px;
    }

}