/* .country,.selectcon{
    margin: 15px;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.selectcon{
    padding: 5px;
    border-radius: 10px;
    background-color: aqua;
}
 */

